/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.load-button {
  position: absolute;
  bottom: 80px;
  left: 70px;
  border-radius: 100%;
  color: white;
  background-color: CadetBlue;
  cursor: pointer;
  font-size:56px
}

.load-button:hover {
  box-shadow: 0 2px 2px rgba(0,0,0,.2),0 6px 10px rgba(0,0,0,.3);
  transition: box-shadow .3s ease-in-out;
}

.saveblock-button {
  position: absolute;
  bottom: 24px;
  left: 70px;
  border-radius: 100%;
  color: white;
  background-color: CornflowerBlue;
  cursor: pointer;
  font-size:56px
}

.saveblock-button:hover {
  box-shadow: 0 2px 2px rgba(0,0,0,.2),0 6px 10px rgba(0,0,0,.3);
  transition: box-shadow .3s ease-in-out;
}

